.loader-main{
    position: absolute;
    height: 100vh;
    width: 100vmax;
    background-color: white;
    z-index: 9999999;
}

.loader:before,
.loader:after,
.loader {
    top: 25vh;
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load4 1.8s infinite ease-in-out;
  animation: load4 1.8s infinite ease-in-out;
}
.loader {
  margin: 8em auto;
  font-size: 12px;
  position: relative;
  text-indent: -9999em;
  -webkit-animation-delay: 0.16s;
  animation-delay: 0.16s;
}
.loader:before {
  left: -3.5em;
}
.loader:after {
  left: 3.5em;
  -webkit-animation-delay: 0.32s;
  animation-delay: 0.32s;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}
@-webkit-keyframes load4 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #000000;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #000;
  }
}
@keyframes load4 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #000000;

  }
  40% {
    box-shadow: 0 2.5em 0 0 #000;
  }
}
.adjust
{min-height:60px; height:auto;}
.mt
{ margin-top:50px;}