:root {

}


body{
  margin: 0;
  padding-right: 1.6vh;
  overflow: hidden;
}


.item-list {
  border: solid;
  position: relative;
  padding-right: 0px; 
  padding-left: 0px;
  z-index: 10; 
}

.out-put-terminal{
  height: 30vh;
  margin-left: -3px;
  border: solid; 
}

.main-drop-zone{
  height: 70vh;
  width: 30vh;
  margin-left: -3px;
  border: solid;
  overflow: auto; 
}

.dest_copy{
  
  /*scrollbar-width: thin;
  background-color: rebeccapurple;
  overflow: scroll;*/
  z-index: -1;
  height: 200vh;
  width: 200vh;
  
}

.background-list-item{
  width: 100px;
  height: 100px;
}

.listedItemTitle{
  position: relative;
  top: 75px;
  width: 100%;
  text-align: center;
  font-size: 90%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
 
}
 


.draggableItem {
  position: absolute;
  display: inline-block;
  height: 110px;
  width: 120px; 
  background-color: transparent;
}


.draggable{
  position: relative;
  width: 75px; 
  height: 75px; 
  background-size: 100%;
  top: 25px;
  left: 25px;
  background-position: center ;
}

.draggable:hover{
  box-shadow: 0 0 10px;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 0px solid #000000;
}

.draggable.active{
  box-shadow: 0 0 10px;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 0px solid #000000;
}
.item-title{
    position: relative;
    top: 75px;
    width: 70px;
    text-align: center;
    
}

.input-square{
  background-image: url(../img/inputOff.png); 
  width: 25px;
  height: 80px;

  position: absolute;
  top: 20px;
  left: 5px;
}

.output-square{
  background-image: url(../img/outputOff.png); 
  width: 25px;
  height: 80px;

  position: absolute;
  top: 20px;
  right: 5px;
  
}

.input-square:hover{
background-image: url(../img/inputOn.png);
}
.output-square:hover{
background-image: url(../img/outputOn.png);
}




.settings-main{
  z-index: 99999;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 0px;
  height: 70vh;
  border: solid;
  background-color: white;
}

 

.mainContainer{
  position: absolute;
  top: 0px;
}


.alertToast{
  position: relative; 
  left: 73vmax; 
  z-index:99999999;
}

